
p {
	/*Content - Width & Height*/

width: 35%;

/*Border*/

border: 2px solid blue;

/*Paddings*/

padding-left: 40px;

/*Margins*/

/*margin: 80px;*/

/*margin-top: 500px;*/

/*margin: 20px 40px 500px 100px;*/

/*margin: auto;*/

margin: 50px auto;

}






